[package]
name = "affinidi-data-integrity"
description = "W3C Data Integrity Implementation"
version = "0.4.0"
edition.workspace = true
authors.workspace = true
readme = "README.md"
homepage.workspace = true
license.workspace = true
keywords.workspace = true
repository.workspace = true
publish.workspace = true
rust-version.workspace = true

[dependencies]
affinidi-crypto = "0.1"
affinidi-rdf-encoding = { version = "0.1", path = "../affinidi-rdf-encoding" }
affinidi-secrets-resolver = "0.5"
affinidi-did-common = "0.3"

chrono = { version = "0.4", features = ["serde"] }
ed25519-dalek = "2.2"
multibase = "0.9"
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"
serde_json_canonicalizer = "0.3"
sha2 = "0.10"
thiserror = "2.0"
tracing = "0.1"

[dev-dependencies]
clap = { version = "4.5", features = ["derive"] }
criterion = { version = "0.8", features = ["html_reports"] }
tokio = { version = "1.49" }
tracing-subscriber = { version = "0.3", features = [
  "env-filter",
  "fmt",
  "json",
  "valuable",
] }

[[bench]]
name = "proof_benchmarks"
harness = false
