[package]
name = "affinidi-tdk-common"
description = "Common utilities for Affinidi Trust Development Kit."
version = "0.4.0"
edition.workspace = true
authors.workspace = true
readme = "README.md"
homepage.workspace = true
license.workspace = true
keywords.workspace = true
repository.workspace = true
publish.workspace = true
rust-version.workspace = true

[features]
default = ["messaging"]
messaging = []

[dependencies]
affinidi-did-resolver-cache-sdk = { version = "0.8", path = "../../../affinidi-did-resolver/affinidi-did-resolver-cache-sdk" }
affinidi-did-authentication = { version = "0.3", path = "../affinidi-did-authentication" }
affinidi-did-common = { version = "0.3", path = "../../../affinidi-did-resolver/affinidi-did-common" }
affinidi-secrets-resolver = { version = "0.5", path = "../affinidi-secrets-resolver" }
affinidi-data-integrity = { version = "0.3", path = "../affinidi-data-integrity" }

ahash = "0.8"
base64 = "0.22"
keyring = { version = "3.6", features = [
  "apple-native",
  "windows-native",
  "sync-secret-service",
] }
moka = { version = "0.12", features = ["future"] }
reqwest = { version = "0.13", features = ["rustls", "json"] }
rustls = { version = "0.23", default-features = false, features = [
  "aws_lc_rs",
  "tls12",
] }
rustls-platform-verifier = "0.6"
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"
thiserror = "2.0"
tokio = { version = "1.49", features = ["full"] }
tracing = "0.1"
