[package]
name = "affinidi-did-authentication"
description = "Using proof of DID ownership to authenticate to services"
version = "0.2.5"
edition.workspace = true
authors.workspace = true
readme = "README.md"
homepage.workspace = true
license.workspace = true
keywords.workspace = true
repository.workspace = true
publish.workspace = true
rust-version.workspace = true

[dependencies]
affinidi-messaging-didcomm = "0.11"
affinidi-did-resolver-cache-sdk = "0.7"
affinidi-did-common = "0.3"
affinidi-secrets-resolver = "0.5"

base64 = "0.22"
chrono = "0.4"
reqwest = { version = "0.13", features = ["rustls", "json"] }
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"
thiserror = "2.0"
tokio = { version = "1.49", features = ["full"] }
tracing = "0.1"
uuid = { version = "1.20", features = ["v4", "fast-rng"] }
