[package]
name = "affinidi-did-authentication"
description = "Using proof of DID ownership to authenticate to services"
version = "0.3.0"
edition.workspace = true
authors.workspace = true
readme = "README.md"
homepage.workspace = true
license.workspace = true
keywords.workspace = true
repository.workspace = true
publish.workspace = true
rust-version.workspace = true

[dependencies]
affinidi-messaging-didcomm = { version = "0.12", path = "../../../affinidi-messaging/affinidi-messaging-didcomm" }
affinidi-did-resolver-cache-sdk = { version = "0.8", path = "../../../affinidi-did-resolver/affinidi-did-resolver-cache-sdk" }
affinidi-did-common = { version = "0.3", path = "../../../affinidi-did-resolver/affinidi-did-common" }
affinidi-secrets-resolver = { version = "0.5", path = "../affinidi-secrets-resolver" }

base64 = "0.22"
chrono = "0.4"
reqwest = { version = "0.13", features = ["rustls", "json"] }
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"
thiserror = "2.0"
tokio = { version = "1.49", features = ["full"] }
tracing = "0.1"
uuid = { version = "1.20", features = ["v4", "fast-rng"] }
